{% assign trans = site.data.translations %}
{% assign in = site.data.translations['in'][page.lang] %}
{% assign also_found_in = site.data.translations['also_found_in'][page.lang] %}
{% assign published = site.data.translations['published'][page.lang] %}
{% assign share_this_article = site.data.translations['share_this_article'][page.lang] %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2">
            <img src="{{ site.baseurl }}/img/{{ page.author_avatar }}.jpg" class="user-icon " alt="user-image">
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="category-list">
                <p>{{ published }} <span>{{ page.date | date: "%b %-d, %Y" }}</span></p>
                <p>
                    <a href="{{ page.author_url  | prepend: site.baseurl }}">
                        {{ page.author_name | capitalize }}
                    </a>
                    {{ in }}
                    <a href='{{ "/category/" | append: page.categories.first | prepend: site.baseurl }}'>
                        {% if page.lang == "pt" %}
                        {{ page.categories[1] | capitalize }}
                        {% else %}
                            {{ page.categories.first | capitalize }}
                        {% endif %}
                    </a>
                </p>

                <div class="other-catergories">
                    <h3>{{ also_found_in }}</h3>

                    <ul>
                        {% for category in page.categories %}
                        <li>
                            <a href='{{ "/category/" | append: page.categories.first | prepend: site.baseurl }}'>
                                {{ category | capitalize }}
                            </a>
                            {% if forloop.last %}{% else %},{% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div><!-- end col -->
        <div class="col-xs-12 col-sm-4">
            <div class="social">
                <p>{{ share_this_article }}</a>
                    {% include share.html %}
            </div>
        </div>
    </div><!-- end row -->
</div>
