<div id="menu-target">
	{% assign trans = site.data.translations %}
    <ul>
        <li>
        	<i class="fa fa-home"></i>
        	<a href="{{ '/' | prepend: site.lang }}">{{ trans['home_page'][page.lang] }}</a>
        </li>
        <li>
        	<i class="fa fa-home"></i>
        	<a href="{{ '/home-alt' | prepend: site.lang }}">{{ trans['home_alt_page'][page.lang] }}</a>
        </li>
        <li>
        	<i class="fa fa-home"></i>
        	<a href="{{ '/home-alt-2' | prepend: site.lang }}">{{ trans['home_alt_2_page'][page.lang] }}</a>
        </li>
        <li>
        	<i class="fa fa-home"></i>
        	<a href="{{ '/home-alt-2' | prepend: site.lang }}">{{ trans['about_page'][page.lang] }}</a>
        </li>
        <li>
        	<i class="fa fa-home"></i>
        	<a href="{{ '/contact' | prepend: site.lang }}">{{ trans['contact_page'][page.lang] }}</a>
        </li>
        <li>
        	<i class="fa fa-home"></i>
        	<a href="{{ '/author/tomrlh' | prepend: site.lang }}">{{ trans['author_page'][page.lang] }}</a>
        </li>
    </ul>
</div>