<div id="menu-target">
	{% assign trans = site.data.translations %}
    <ul>
        <li>
            <i class="fa fa-home"></i>
            {% if page.lang == "pt" %}
                <a href="{{ '/pt' }}">{{ trans['home_page'][page.lang] }}</a>
            {% else %}
                <a href="{{ '/' }}">{{ trans['home_page'][page.lang] }}</a>
            {% endif %}
        </li>



        <li>
            <i class="fa fa-list-alt"></i>
            {% if page.lang == "pt" %}
                <a href="{{ '/pt' | append: 'categories'}}">{{ trans['categories'][page.lang] }}</a>
            {% else %}
                <a href="{{ '/' | append: 'categories'}}">{{ trans['categories'][page.lang] }}</a>
            {% endif %}
        </li>



        <li>
            <i class="fa fa-book"></i>
            {% if page.lang == "pt" %}
                <a href="{{ '/pt' | append: 'posts'}}">{{ trans['posts'][page.lang] }}</a>
            {% else %}
                <a href="{{ '/' | append: 'posts'}}">{{ trans['posts'][page.lang] }}</a>
            {% endif %}
        </li>



        <li>
            <i class="fa fa-envelope"></i>
            {% if page.lang == "pt" %}
                <a href="{{ '/pt' | append: 'contact'}}">{{ trans['contact_page'][page.lang] }}</a>
            {% else %}
                <a href="{{ '/' | append: 'contact'}}">{{ trans['contact_page'][page.lang] }}</a>
            {% endif %}
        </li>



        <li>
        	<i class="fa fa-id-badge"></i>
            {% if page.lang == "pt" %}
                <a href="{{ '/pt' | append: 'author/tomrlh'}}">{{ trans['author_page'][page.lang] }}</a>
            {% else %}
                <a href="{{ '/' | append: 'author/tomrlh'}}">{{ trans['author_page'][page.lang] }}</a>
            {% endif %}
        </li>
    </ul>
</div>