<div class="social-links">
<!--     <a 
        class="social-icon" 
        href="https://www.facebook.com/sharer/sharer.php?u=youtube.com"
        onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
        <i class="fa fa-facebook-official"></i>
    </a> -->


    
</div>

<ul class="social-icons icon-circle icon-zoom list-unstyled list-inline"> 
    <li>
        <a 
            href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{site.baseurl}}{{ page.url }}&title={{ page.title }}&summary={{ page.desc }}&source=tomrlh"
            onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
            <i class="fa fa-linkedin"></i>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/_tomrlh/">
            <i class="fa fa-instagram"></i>
        </a>
    </li>
    <li>
        <a 
            href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{site.baseurl}}{{ page.url }}"
            onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
            <i class="fa fa-facebook"></i>
        </a>
    </li>
    <li>
        <a href="https://www.github.com/tomrlh/">
            <i class="fa fa-github"></i>
        </a>
    </li>
</ul>

