---
layout: with-sidebar
---

{% assign trans = site.data.translations %}

<div class="sub-nav">
    <a href="#" class="select-posts active">{{ trans['posts'][page.lang] }}</a>
    <a href="#" class="select-categories">{{ trans['categories'][page.lang] }}</a>
</div>

<div class="home-page-posts animated fadeIn ">
    {% assign posts = site.posts | where:"lang", page.lang %}
    {% assign in = trans['in'][page.lang] %}
    {% assign minutes = trans['minutes'][page.lang] %}
    
    {% for post in posts %}
        {% if page.lang == "pt" %}
            {% assign post_category = post.categories[1] %}
        {% else %}
            {% assign post_category = post.categories.first %}
        {% endif %}

        <article class="post">
            <div class="post-preview col-xs-12 no-gutter">
                <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

                {{ post.excerpt | truncatewords: 28 }}

                <p class="meta">
                    <a href="{{ post.author_url | prepend: site.baseurl }}">
                        {{ post.author_name }}
                    </a>
                    {{ in }}
                    <a href='{{ "/category/" | append: post.categories.first | prepend: site.baseurl }}'>
                        {{ post_category | capitalize }}
                    </a>
                    <i class="link-spacer"></i>
                    <i class="fa fa-bookmark"></i>
                    {{ post.read_time }} {{ minutes }}
                </p>
            </div>


            {% if post.show_avatar == true %}
                <!--div class=" col-xs-2  no-gutter">
                    <img src="{{ site.baseurl}}/img/{{ post.author_avatar }}.jpg" class="user-icon user-1" alt="user-image">
                </div-->
            {% endif %}
        </article>
    {% endfor %}

</div><!-- Home page posts -->

<div class="home-page-categories hide animated fadeIn ">
    <div class="category row">
        <section>
            {% for category in site.categories %}
                
                {% if category.first != "pt" %}
                    <div class="category-preview col-xs-6 col-sm-4 ">
                        <!--h2>{{ category | first | capitalize }}</h2-->
                        <h2>{{ trans[category.first][page.lang] | capitalize }}</h2>
                        {% if page.lang == "pt" %}
                            <a href='{{ "/pt" | append:"/category/" | append:category.first }}'><img src='{{ "/img/" | append: category.first }}-thumbnail.jpg' alt="category-image"></a>
                        {% else %}
                            <a href='{{ "/category/" | append:category.first }}'><img src='{{ "/img/" | append: category.first }}-thumbnail.jpg' alt="category-image"></a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </section>
    </div>
</div>
